@{
    ViewData["Title"] = "VehicleCategory Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ParkingSystem.Areas.PMS_VehicleCategory.Models.PMS_VehicleCategoryModel
<div class="row">
    <div class="col-md-12">
        <h3>VehicleCategory Add List</h3>
        <h3>@TempData["VehicleCategoryInsertMsg"]</h3>
        <form method="post" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Save">
            @Html.HiddenFor(x=>x.VehicleCategoryID)
            <div class="form-group">
                <label>Vehicle Category</label>
                <input type="text" class="form-control" asp-for="VehicleCategory" placeholder="Enter VehicleCategory" />
                <span asp-validation-for="VehicleCategory" class="text-danger"></span>
            </div>
            <hr />
            <div class="row">
                <input type="submit" class="btn btn-success" />
                <a class="btn btn-danger" asp-area="PMS_VehicleCategory" asp-controller="PMS_VehicleCategory" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>